
#logo{
    margin-bottom: 20px;
    float: left;
    width: 90px;
    height: 70px;
}

NAV{
    margin-left: 600px;
}

.nav
{
    margin-left: 200px;
    position: relative;
    display: inline-block;
    margin: 10px;

}

#principal{
    text-align: center;

}

#san_francisco{
    border-radius: solid black 6px;
}
